/examples/msvc/Debug
/examples/msvc/ipch

/examples/msvc/*.opensdf
/examples/msvc/*.sdf
/examples/msvc/*.suo
/examples/msvc/*.vcxproj.user

/examples/msvc/Release

/examples/msvc/x64/Debug

/examples/msvc/x64/Release
