html,body {
  height: 100%;
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'RobotoDraft', sans-serif;
}
core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; 
}
core-toolbar {
  background: #03a9f4;
  color: white;
}
#tabs {
  width: 100%;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
}
.container {
  width: 80%;
  margin: 50px auto;
}
@media (min-width: 481px) {
  #tabs {
    width: 200px;
  }
  .container {
    width: 400px;
  }
}

paper-toggle-button::shadow paper-radio-button::shadow #onRadio {
    background-color: #33dd55; 
}

paper-toggle-button::shadow paper-radio-button::shadow #offRadio {
    border-color: white;
}

paper-toggle-button::shadow #toggleBar {
    background-color: white;
}

paper-toggle-button::shadow #toggleBar[checked] {
    background-color: #33dd55;
}

/* hack for styling under polyfill, e.g safari  */
paper-radio-button #offRadio {
    border-color: white;
}

paper-radio-button #onRadio {
    background-color: #33dd55;
}

paper-toggle-button #toggleBar {
    background-color: white;
}
